/*
 * Place CSS here
 */

.cm-dockdir {
  color: aqua;
}

.cm-from {
  background-color: rgba(72, 72, 154, 0.63);
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: underline;
}

.cm-maintainer {
  background-color: rgba(72, 72, 154, 0.63);
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: underline;
}

.cm-expose {
  /*border: 1px #980000 dotted;*/
  border-radius: 3px;
  background-color:rgba(167, 65, 65, 0.46);
  color: yellow;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
}

.cm-debug1 {
  color: red;
}

.cm-debug2 {
  color: #b90000;
  background-color: yellow;
}

